<html>
	{% load static %}
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css"/>
		
		<title>
			Proyecto Final
		</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	</head>
	{% load static %}

	<body> 
		<header background= "black">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					{% if user.is_authenticated %}
					<a class="navbar-brand" href="{% url "inicio" %}"><img src= "https://i.ibb.co/YQzS5Cp/Logo.png" class="logoo"></a>
					{% else %}
					<a class="navbar-brand" href="/"><img src= "https://i.ibb.co/YQzS5Cp/Logo.png" class="logoo"></a>
					{% endif %}
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
    	    			<li><a href="/">Servicios</a></li>
        				<li><a href="{% url 'post_new' %}" class="top-menu">Postear Servicio</a></li>
        				<li><a href="{% url 'post_draft_list' %}" class="top-menu">Mis Servicios</a></li>
        				<li><p class="top-menu">{{ user.username }}<small>(<a href="{% url 'logout' %}">Cerrar Sesion</a>)</small></p></li>
					{% else %}
						<li><a href="{% url 'login' %}" class="top-menu">Iniciar Sesion</a></li>
					{% endif %}
					</ul>
				</div>
					
			</nav>
        </header>
		
		{% block content %} 
		{% endblock %}

    </body> 
</html>